.row {
    display: flex;
    flex-wrap: wrap;

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }
}



$columnsNumber: 12;

@mixin makeGrid($prefix) {
    @for $i from 1 through $columnsNumber {
        .col-#{$prefix}-#{$i} {
            flex: 0 1 $i / $columnsNumber * 100%;
            width: $i / $columnsNumber * 100%;
        }

        .col-#{$prefix}-offset-#{$i} {
            margin-left: $i / $columnsNumber * 100%;
        }
    }
}


@each $prefix,
$minWidth in ('xs', null),
('sm', 541px),
('md', 787px),
('lg', 991px),
('xl', 1201px) {
    @if $minWidth {
        @media (min-width: $minWidth) {
            @include makeGrid($prefix);
        }
    }

    @else {
        @include makeGrid($prefix);
    }
}