@import "variables";
@import "normalize";
@import "layout";
@import "mixins";
@import "grid";
@import "sections/sidebar";
@import "sections/topbar";
@import "components/panel-heading";
@import "components/calendar";
@import "components/orange-button";
@import "components/table";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: $color-body;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}



// MAIN PART
.main {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-self: stretch;

    // CONTENT

    .content {
        background-color: $color-body;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        margin-top: 80px;

        .panel {
            background-color: #fff;
            margin: 18px auto;
            flex-basis: 100%;
            flex: 1 1 auto;

            // TE TAKIE DANE I LICZBY

            .gs-data {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 20px;

                .gs-row {
                    display: flex;
                    justify-content: space-around;
                    width: 80%;
                    margin: 10px;

                    .grey {
                        color: $font-color;
                        font-weight: bold;
                    }

                    .gs-lines {
                        display: flex;
                        justify-content: space-between;
                        width: 300px;
                        border-bottom: 1px solid $color-body;
                    }


                }

                .last-line {
                    margin-top: 60px;
                }
            }

            // LEGENDA WYKRESU

            .gs-chart {
                display: flex;
                justify-content: center;
                margin: 20px;



                div {
                    background-color: $color-body;
                    margin: 0 20px;
                    padding: 5px 20px;
                    display: flex;
                    align-content: center;
                    justify-content: space-around;
                    color: $font-color;

                    &:last-child {
                        background-color: white;
                    }

                    p {
                        padding: 5px;
                    }

                    .circle {
                        width: 10px;
                        height: 10px;
                        background-color: orange;
                        border-radius: 50%;
                        padding: 10px;
                        margin: 5px 20px 5px 10px;
                    }

                    .first-circle {
                        background-color: #80BFCA;
                    }

                    .last-circle {
                        background-color: #59B66D;
                    }
                }

            }

            // WYKRES

            .chart {
                display: block;
                margin: 40px auto;
            }


        }

    }


}

@media (max-width: 550px) {
    .topbar {
        position: fixed;
        bottom: 0;
        right: 0;
        height: 65px;

    }

}

@media (max-width: 770px) {

    body {
        flex-direction: column;
    }

    .content {
        width: 100%;
    }

    .topbar {
        position: fixed;
        bottom: 0;
        right: 0;
        height: 65px;

    }

    .sidebar {
        width: 100%;
        height: 65px;
        overflow: hidden;
        min-height: 0%;
    }

    // nie działa
    .panel {
        margin: 20px auto;
    }

}