@import "variables";
@import "normalize";
@import "layout";
@import "mixins";
@import "grid";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: $color-body;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

// SIDEBAR 
.sidebar {
    flex-basis: 250px;
    background-color: $color-nav;

    //  LOGO AND HAMBURGER

    .logo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;

        img {
            min-width: 80%;
            margin: 10px 20px 10px 10px;
        }

        .hamburger {
            color: $font-color;
            font-size: 25px;
            margin: 15px 20px;
        }
    }

    // SIDEBAR-LINKS

    .sidebar-links {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-bottom: 40px;
        border-bottom: 1px solid $color-body;

        li {
            flex-basis: 40px;

            a {
                display: block;
                text-decoration: none;
                color: $font-color;
                padding: 10px;
                border-left: 2px solid transparent;

                &:hover {
                    color: white;
                    background-color: $color-nav-hover;
                    border-color: orange;

                    i {
                        color: white;
                    }
                }

                i {
                    color: $font-color;
                    padding: 10px;
                    line-height: 30px;
                }
            }
        }
    }

    // CHAT WITH MANAGER

    .chat {
        text-align: center;
        padding-top: 10px;

        p:first-child {
            color: $font-color;
            text-transform: uppercase;
            font-weight: bold;
            padding-top: 10px;
        }

        .people {
            li {
                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    position: relative;
                    margin: 15px;

                    img {
                        border-radius: 50%;
                        height: 45px;
                        width: 45px;
                        object-fit: cover;
                        margin: 0 20px;
                    }

                    p {
                        color: #56819f;
                        margin-left: 10px;
                    }
                }

                a.active {
                    &:before {
                        content: '';
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: $active;
                        position: absolute;
                        top: 0;
                        left: 54px;
                    }
                }
            }
        }
    }

}

// MAIN PART
.main {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-self: stretch;

    // TOPBAR

    .topbar {
        background-color: white;
        flex-basis: 62px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: $font-color;
        font-size: 16px;

        div {
            text-align: center;
            border-left: 0.5px solid $font-color;
            padding: 20px 10px;

            i {
                padding: 10px;
                font-size: 18px;
            }


        }

        div.topbar-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;

            P {
                color: #56819f;
            }
        }

        div.notification {
            &:before {
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $color-orange;
                position: absolute;
                top: 0;
                left: 0px;
            }
        }
    }

    // CONTENT

    .content {
        background-color: $color-body;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        .panel1 {
            background-color: #fff;
            margin: 18px 18px 9px;
            flex-basis: 100%;
            flex: 1 1 auto;

            .g-statistic {
                color: $font-color;
                font-size: 16px;
                padding: 10px 20px;
                border-bottom: 1px solid $color-body;
                text-transform: uppercase;
                font-weight: bold;
            }

            .calendar {
                display: flex;
                justify-content: center;
                font-size: 14px;
                padding: 40px;
                border-bottom: 1px solid $color-body;

                i {
                    color: $grey;
                }

                .i-refresh {
                    height: 40px;
                    width: 40px;
                    background-color: $color-orange;
                    text-align: center;
                    line-height: 40px;
                    margin-left: 10px;
                    border-radius: 3px;

                    i {
                        color: white;
                    }
                }

                .date {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid $font-color;
                    border-radius: 3px;
                    width: 400px;
                    height: 40px;


                    div {
                        width: 50%;
                        height: 35px;
                        padding: 10px;
                    }

                    .i-calendar {
                        display: flex;
                        justify-content: space-between;
                        border-left: 1px solid $font-color;
                    }
                }


            }

            .gs-data {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 20px;

                .gs-row {
                    display: flex;
                    justify-content: space-around;
                    width: 80%;
                    margin: 10px;

                    .grey {
                        color: $font-color;
                        font-weight: bold;
                    }

                    .gs-lines {
                        display: flex;
                        justify-content: space-between;
                        width: 300px;
                        border-bottom: 1px solid $color-body;
                    }


                }

                .last-line {
                    margin-top: 60px;
                }
            }

            .gs-chart {
                display: flex;
                justify-content: center;
                margin: 20px;



                div {
                    background-color: $color-body;
                    margin: 0 20px;
                    padding: 5px 20px;
                    display: flex;
                    align-content: center;
                    justify-content: space-around;
                    color: $font-color;

                    &:last-child {
                        background-color: white;
                    }

                    p {
                        padding: 5px;
                    }

                    .circle {
                        width: 10px;
                        height: 10px;
                        background-color: orange;
                        border-radius: 50%;
                        padding: 10px;
                        margin: 5px 20px 5px 10px;
                    }

                    .first-circle {
                        background-color: #80BFCA;
                    }

                    .last-circle {
                        background-color: #59B66D;
                    }
                }

            }



        }

        .chart {
            display: block;
            margin: 0 auto;
        }


    }

    .panel2 {
        background-color: #fff;
        margin: 18px 18px 9px;
        flex-basis: 100%;
        flex: 1 1 auto;

        .links {
            color: $font-color;
            font-size: 16px;
            padding: 10px 20px;
            border-bottom: 1px solid $color-body;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}