 // TABELA

 .table {
     margin: 20px auto;
     width: 80%;
     border-top: 1px solid $border-color;

     &>* {
         border-bottom: 1px solid $border-color;
         justify-content: space-between;
         padding: 0 50px 0 20px;

     }

     .row {


         [class*="col-"] {
             line-height: 55px;
         }



         .grey-col {
             color: $font-color;
             font-weight: 700;
         }

         .link-col {
             display: flex;
             justify-content: space-between;


             a {
                 color: $link-color;
                 text-decoration: none;
             }

             .icons-hover {
                 display: none;

                 a {
                     padding: 0 5px;
                     color: #9b9b9b;
                 }

                 .orange {
                     color: $color-orange;
                 }


             }
         }

         &:hover {
             background-color: $color-body-elements-hover;


             .icons-hover {
                 display: block;
             }
         }
     }
 }