// SIDEBAR 
.sidebar {
    background-color: $color-nav;

    //  LOGO AND HAMBURGER

    .logo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;

        img {
            min-width: 80%;
            margin: 10px 20px 10px 10px;
        }

        .hamburger {
            color: $font-color;
            font-size: 25px;
            margin: 15px 20px;
        }
    }

    // SIDEBAR-LINKS

    .sidebar-links {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-bottom: 40px;
        border-bottom: 1px solid $color-nav-hover;

        li {
            flex-basis: 40px;

            a {
                display: block;
                text-decoration: none;
                color: $font-color;
                padding: 10px;
                border-left: 2px solid transparent;

                &:hover {
                    color: white;
                    background-color: $color-nav-hover;
                    border-color: $color-orange;

                    i {
                        color: white;
                    }
                }

                i {
                    color: $font-color;
                    padding: 10px;
                    line-height: 30px;
                }
            }
        }
    }

    // CHAT WITH MANAGER

    .chat {

        padding-top: 10px;

        p:first-child {
            color: $font-color;
            text-transform: uppercase;
            font-weight: bold;
            padding-top: 10px;
            padding-left: 25px;
        }

        .people {
            li {
                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    position: relative;
                    margin: 15px;

                    img {
                        border-radius: 50%;
                        height: 45px;
                        width: 45px;
                        object-fit: cover;
                        margin: 0 15px;
                    }

                    p {
                        color: #56819f;
                        margin-left: 10px;
                    }
                }

                a.active {
                    &:before {
                        content: '';
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: $active;
                        position: absolute;
                        top: 0;
                        left: 54px;
                    }
                }
            }
        }
    }

}